@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
::before,
::after {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

/* Main Section */
.main .header {
  width: 100%;
  background: transparent;
  transition: all 0.5s;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  z-index: 11111;
}

.main .header.scrolled {
  background-color: #474d52;
}

.main .header .inner-header {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .header .logo {
  color: #fff;
  background: transparent !important;
}

.main .header .logo img {
  width: 100%;
  max-width: 150px;
  display: block;
}

.main .header .menu {
  background: transparent !important;
}

.main .header .menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main .header .menu>ul>li {
  cursor: pointer;
  position: relative;
  background: transparent !important;
  padding: 15px 14px;
}

.main .header .menu ul li a {
  font-family: "Poppins", sans-serif !important;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0 2px;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main .header .menu ul li a i {
  font-size: 12px;
  line-height: 0%;
  margin-left: 5px;
  transition: 0.3s;
}

.main .menu ul li ul {
  visibility: hidden;
  position: absolute;
  background-color: #fff;
  padding: 15px 0px !important;
  margin: 0%;
  display: block !important;
  border-radius: 5px;
  text-align: center;
  top: 100%;
  transform: translateY(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  z-index: 1;
  opacity: 0;
}

.main .menu ul .drop:hover>ul {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

.main .menu ul li ul li ul {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 0px !important;
  display: block;
  position: absolute;
  top: 30%;
  left: -102%;
  transform: translateY(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  z-index: 1;
  opacity: 0;
  padding: 10px 0;
}

.main .menu ul li ul li {
  min-width: 200px;
}

.main .menu ul li ul li a {
  color: #666666 !important;
  font-size: 15px !important;
  padding: 10px 20px !important;
  text-transform: none !important;
  transition: all 0.1s ease-in-out;
}

.main .menu ul li ul li:hover>a {
  color: #2dc997 !important;
}

.main .menu ul li ul li ul li:hover>a {
  color: #2dc997 !important;
}

.main .menu ul li ul li:hover ul {
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
}

.main {
  width: 100%;
  background-image: url(images/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  z-index: 2;
  inset: 0;
}

.main::before {
  content: "";
  background: color-mix(in srgb, #2f3942, transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 1;
}

.main .text {
  position: absolute;
  text-align: center;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: fadeInUp 0.6s ease-out forwards;
  z-index: 2;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
}

.main .text p {
  margin: 10px 0 0 0;
  font-size: 24px;
  color: #fff;
}

.main .text h1 {
  font-size: 48px;
}

.text a {
  padding: 10px 40px;
  letter-spacing: 1px;
  margin: 30px 0 0 0;
  display: inline-block;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  border: 2px solid color-mix(in srgb, #fff, transparent 50%);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px !important;
  font-weight: 400;
  transition: 0.5s;
}

.text a:hover {
  background-color: #2dc997;
  border-color: #2dc997;
  color: #fff;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(-50%, 50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

/* About Section */
.about {
  width: 100%;
  padding: 60px 0px;
}

.inner-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
}

.about .info {
  width: 90% !important;
  opacity: 0;
  transform: translateY(70px);
  flex: 1;
  order: 2;
}

.about .info.info-animate {
  opacity: 1;
  transform: translateY(0px);
}

.about .info_img {
  width: 90% !important;
  opacity: 0;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  display: block;
  transform: translateY(70px);
  flex: 1;
  order: 1;
}

.about .info_img.img-animate {
  opacity: 1;
  transform: translateY(0px);
}

.play-pause-button {
  /* The play & pause button */
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  width: 94px;
  height: 94px;
  background: radial-gradient(#2dc997 50%,
      color-mix(in srgb, #2dc997, transparent 75%) 52%);
  border-radius: 50%;
  display: block;
  overflow: hidden;
}

.play-pause-button::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-play-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid color-mix(in srgb, #2dc997, transparent 30%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.play-pause-button::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-pause-button:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.play-pause-button:hover:after {
  border-left: 15px solid #2dc997;
  transform: scale(20);
}

@keyframes pulsate-play-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

.about .info h3 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.about .info p {
  color: #666666;
  font-size: 1rem;
  margin-top: 0% !important;
  line-height: 1.5;
}

.about .info_img img {
  max-width: 100%;
  flex-shrink: 0 !important;
  height: auto;
}

.about .info .ul {
  list-style: none !important;
  padding: 0%;
}

.about .info ul li {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;
}

.about .info ul li p {
  font-size: 15px !important;
  margin-right: 16px;
}

.about .info ul li h5 {
  font-size: 18px !important;
  font-weight: 700;
  margin-bottom: 0.5rem;
  color: #333333;
}

.about .info ul li i {
  color: #2dc997 !important;
  font-size: 48px !important;
  flex-shrink: 0 !important;
}


/* Stats Section */
.stats {
  width: 100%;
  padding: 60px 0px;
  background-color: #f9f9f9;
}

.stats-row {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-top: calc(-1* 1.5rem);
}

.stats .stats-row>* {
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
  margin-top: 1.5rem;
  width: 100%;
  flex-shrink: 0;
  max-width: 100%;
}

.stats .stats-row .inner-stats span {
  font-size: 48px;
  display: block;
  color: #2dc997;
  font-weight: 700;
}

.stats .stats-row .inner-stats {
  padding: 30px;
  width: 100%;
}

.stats .stats-row .inner-stats p {
  font-size: 15px;
  color: color-mix(in srgb, #666666, transparent 40%);
  font-weight: 600;
  padding: 0%;
  margin: 0%;
}

/* Services Section */
.services {
  width: 100%;
  padding: 60px 0px;
  background-color: #fff;
  color: #666666;
}

.services .service-title {
  text-align: center;
  padding-bottom: 60px;
}

.services .service-title h2 {
  margin-bottom: 15px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333333;
}

.services .service-title p {
  margin-bottom: 0%;
}

.services .service-containers {
  /* max-width: 1320px; */
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.services .service-containers .service-item {
  background-color: #fff;
  padding: 50px 30px;
  text-align: center;
  border: 1px solid color-mix(in srgb, #666666, transparent 85%);
  transition: transform 0.3s;
  position: relative;
  margin-top: 36px;
}

.services .service-containers .service-item .ser-icon {
  background-color: #2dc997;
  color: #fff;
  margin: 0;
  width: 72px;
  height: 72px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 28px;
  transition: ease-in-out 0.3s;
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  border: 6px solid #fff;
}

.services .service-containers .service-item {
  cursor: pointer;
}

.services .service-containers .service-item a {
  color: #2dc997;
  text-decoration: none;
  transition: 0.3s;
}

.services .service-containers .service-item p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0%;
}

.services .service-containers .service-item a h3 {
  font-weight: 700;
  margin: 10px 0 15px 0;
  color: #333333;
  font-size: 22px;
  transition: ease-in-out 0.3s;
}

.services .service-containers .service-item:hover>.ser-icon {
  background-color: #fff;
  color: #2dc997;
  border: 2px solid #2dc997;
}

.services .service-containers .service-item:hover>a h3{
  color: #2dc997;
}

/* Call to action Section */
.call-to-action {
  padding: 120px 0;
  position: relative;
  clip-path: inset(0);
}

.call-to-action img {
  position: fixed;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.call-to-action::before {
  content: "";
  background: color-mix(in srgb, #2f3942, transparent 50%);
  position: absolute;
  inset: 0;
  z-index: 2;
}

.call-to-action .call-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  padding-left: calc(1.5rem * 0.5);
  padding-right: calc(1.5rem * 0.5);
}

.call-to-action .call-content .call-text {
  text-align: center;
  width: 100%;
  flex: 0 0 auto;
}

.call-to-action .call-content .call-btn {
  width: 100%;
  text-align: center;
  flex: 0 0 auto;
}

.call-to-action .call-content .call-btn a {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 15px 40px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
}

.call-to-action .call-content .call-btn a:hover {
  background-color: #2dc997;
  border: 2px solid #2dc997;
}

.call-to-action .call-content .call-text h3 {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
  margin-top: 0%;
  margin-bottom: 0.5rem;
  line-height: 1.2;
}

.call-to-action .call-content .call-text p {
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}

.animate-on-scroll {
  opacity: 0;
  transform: scale(0.5);
  transition-delay: 0.1s;
  transition-duration: 0.8s;
}

.animate-on-scroll.animate-active {
  opacity: 1;
  transform: scale(1);
}

/* Portfolio Section */
.portfolio {
  width: 100%;
  padding: 60px 0px;
}

.portfolio .port-title {
  text-align: center;
  padding-bottom: 60px;
  width: 100%;
  margin: auto;
}

.portfolio .port-title h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.portfolio .port-title p {
  color: #666666;
}

.portfolio .port-main .port-menu ul {
  list-style: none;
  text-align: center;
  padding: 0 0 20px 0;
  margin: 0 auto;
}

.portfolio .port-main .port-menu ul li {
  padding: 0;
  display: inline-block;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 1;
  transition: all 0.3s ease-in-out;
  color: #666666;
}

.active-list {
  color: #2dc997 !important;
}

.portfolio .port-main .port-content a img {
  max-width: 100%;
  display: block;
}

.portfolio .port-main .port-album {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin: auto;
}

.portfolio .port-main .port-album>* {
  transition: all 0.3s ease-in-out;
  will-change: transform;
}

.portfolio .port-main .port-album .port-content {
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  height: 100%;
}

.portfolio .port-main .port-album .port-content .port-info {
  background-color: #fff;
  border-top: 1px solid color-mix(in srgb, #666666, transparent 90%);
  padding: 25px 20px;
}

.portfolio .port-main .port-album .port-content .port-info h4 {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
  margin-bottom: 0.5rem;
}

.portfolio .port-main .port-album .port-content .port-info h4 a {
  color: #333333;
  transition: 0.3s;
  text-decoration: none;
}

.portfolio .port-main .port-album .port-content .port-info p {
  color: color-mix(in srgb, #666666, transparent 30%);
  font-size: 14px;
  margin-bottom: 0;
  padding-right: 50px;
}

/* Pricing Section */
.pricings {
  padding: 60px 0;
  color: #666666;
  background-color: #fff;
  overflow: clip;
}

.pricings .price-title {
  text-align: center;
  padding-bottom: 60px;
  margin: auto;
}

.pricings .price-title h2 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #333333;
}

.pricings .price-title p {
  color: #666666;
}

.pricings .all-pricings {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  margin-right: calc(-.5 * 1.5rem);
  margin-left: calc(-.5 * 1.5rem);
  margin-top: calc(-1 * 1.5rem);
}

.pricings .all-pricings>*{
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(1.5rem * .5);
  padding-left: calc(1.5rem * .5);
  margin-top: 1.5rem;
}

.pricings .all-pricings h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
}

.pricings .pricing-item {
  background-color: color-mix(in srgb, #2dc997, transparent 96%);
  padding: 40px 40px;
  /* flex: 0 0 auto; */
  /* width: 33.33333333%; */
  height: 100%;
  border-radius: 15px;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

.pricing-item.animate {
  /* Animation for pricing-item starts */
  transform: scale(1);
  opacity: 1;
}

.pricings .description {
  font-size: 14px;
  margin-bottom: 1rem;
}

.pricings h4 {
  color: #2dc997;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 0;
}

.pricings h4 sup {
  font-size: 28px;
}

.pricings h4 span {
  color: color-mix(in srgb, #666666, transparent 50%);
  font-size: 18px;
  font-weight: 500;
}

.pricings .cta-btn {
  border: 1px solid #666666;
  color: #666666;
  display: block;
  text-align: center;
  padding: 10px 35px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  margin-top: 20px;
  margin-bottom: 6px;
  text-decoration: none;
  line-height: 28px;
}

.pricings .cta-btn:hover {
  background: #2dc997;
  color: #fff;
  border-color: #2dc997;
}

.pricings .featured .cta-btn {
  background-color: #2dc997;
  color: #fff;
  border-color: #2dc997;
}

.pricings .featured .popular {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #2dc997;
  color: #fff;
  padding: 4px 15px 6px 15px;
  margin: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.pricings .featured {
  position: relative;
}

.pricings ul {
  padding: 0%;
  list-style: none;
  color: color-mix(in srgb, #666666, transparent 30%);
  text-align: left;
  line-height: 20px;
}

.pricings ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricings ul li i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricings ul .na {
  color: color-mix(in srgb, #666666, transparent 60%);
}

.pricings ul .na i {
  color: color-mix(in srgb, #666666, transparent 60%);
}

.pricings ul .na span {
  text-decoration: line-through;
}

/* Team Section */
.team {
  width: 100%;
  padding: 60px 0;
  background-color: #fff;
  color: #666666;
}

.team .team-title {
  text-align: center;
  padding-bottom: 60px;
}

.team .team-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #333333;
}

.team .team-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.team .team-members {
  background-color: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: 0.5s;
  padding: 30px;
  height: 100%;
  display: flex;
  flex: 1 1 calc(50% - 15px);
}

.team .team-members:hover {
  transform: translateY(-10px);
}

.team .team-members .pic {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  flex-shrink: 0;
}

.team .team-members .pic img {
  max-width: 100%;
  height: auto;
  display: block;
}

.team .team-info .team-members .member-info {
  padding-left: 30px;
}

.team .team-info .team-members .member-info h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #333333;
}

.team .team-info .team-members .member-info span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  font-weight: 500;
}

.team .team-info .team-members .member-info p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.team .team-info .team-members .member-info .social {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}

.team .team-info .team-members .member-info .social a {
  background: color-mix(in srgb, #666666, transparent 94%);
  transition: ease-in-out 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50px;
}

.team .team-info .team-members .member-info .social a:hover {
  background: #2dc997;
}

.team .team-info .team-members .member-info .social a:hover i {
  color: #fff;
}

.team .team-info .team-members .member-info .social a i {
  color: color-mix(in srgb, #666666, transparent 20%);
  font-size: 16px;
  margin: 0 2px;
}

.team .team-info .team-members .member-info .social a+a {
  margin-left: 8px;
}

.team .team-info .team-members .member-info .social a i .bi::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
}


/* Contact Section */
.contact {
  width: 100%;
  color: #666666;
  padding: 60px 0;
  background-color: #fff;
}

.contact .contact-title {
  text-align: center;
  padding-bottom: 60px;
}

.contact .contact-title h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
  color: #333333;
}

.contact .map {
  margin-bottom: 1.5rem;
}

.contact .map iframe {
  border: 0;
  width: 100%;
  height: 270px;
}

.contact .contact-info .row .columns1 .info-item {
  display: flex;
}

/* .contact .contact-info{
  display: flex;
  flex-wrap: wrap;
} */

/* .contact .contact-info .row .columns1{
  width: 100%;
} */

/* .contact .contact-info .contact-form{
 width: 100%;
} */

.contact .contact-info .row .columns1 .info-item h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  color: #333333;
}

.contact .contact-info .row .columns1 .info-item p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.contact .contact-info .row .columns1 .info-item+.info-item {
  margin-top: 40px;
}

.contact .contact-info .row .columns1 .info-item i {
  color: #fff;
  background: #2dc997;
  font-size: 20px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.contact .contact-info .row .columns2 form .row .columns input {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0%;
  color: #666666;
  background-color: color-mix(in srgb, #fff, transparent 50%);
  border: 1px solid #dee2e6;
  display: block;
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  appearance: none;
  background-clip: padding-box;
  outline: none;
  font-family: inherit;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact .contact-info .row .columns2 form .row .columns input:focus {
  border-color: #2dc997;
}

.contact .contact-info .row .columns2 form .row .columns input::placeholder {
  opacity: 0.4;
}

.contact .contact-info .row .columns2 form .row .columns textarea {
  font-size: 14px;
  width: 100%;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  color: #666666;
  background-color: color-mix(in srgb, #fff, transparent 50%);
  border-color: color-mix(in srgb, #666666, transparent 80%);
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.contact .contact-info .row .columns2 form .row .columns textarea::placeholder {
  opacity: 0.4;
}

.contact .contact-info .row .columns2 form .row .columns textarea:focus {
  border-color: #2dc997;
}

.contact .contact-info .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * 1.5rem);
  margin-right: calc(-.5 * 1.5rem);
  margin-left: calc(-.5 * 1.5rem);
}

.contact .contact-info .row>* {
  width: 100%;
  max-width: 100%;
  margin-top: 1.5rem;
  padding-left: calc(1.5rem * .5);
  padding-right: calc(1.5rem * .5);
}

.contact .contact-info .row .columns1 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.contact .contact-info .row .columns2 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.contact .contact-info .row .columns2 .row .columns {
  width: 100%;
  flex: 0 0 auto;
}

.contact .contact-info .row .columns2 button {
  color: #fff;
  background: #2dc997;
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 4px;
  margin: 0%;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  cursor: pointer;
}

.contact .contact-info .row .columns2 button:hover {
  background: color-mix(in srgb, #2dc997, transparent 20%);
}



/* Footer Section */
.footer {
  color: #fff;
  background-color: #2f3942;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

.footer h3 {
  font-size: 36px;
  font-weight: 700;
  padding: 0%;
  margin: 0 0 15px 0;
}

.footer p {
  font-size: 15px;
  font-style: italic;
  padding: 0%;
  margin: 0 0 30px 0;

}

.footer .social-links {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2dc997;
  color: #fff;
  line-height: 1;
  margin: 0 1px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  text-decoration: none;
}

.footer .social-links a+a {
  margin-left: 8px;
}

.footer .copyright {
  padding-top: 25px;
  border-top: 1px solid color-mix(in srgb, #fff, transparent 90%);
}

.footer .credits {
  font-size: 13px;
  padding-top: 5px;
}

.footer .credits a {
  text-decoration: none;
  color: #2dc997;
}


/* Scroll To Top */
a.scroll-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 999999;
  background-color: #2dc997;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

a.scroll-top i{
  color: #fff;
  font-size: 24px;
  line-height: 0;
}

.scroll-top.active-scroll{
  visibility: visible;
  opacity: 1;
}













/* Global Classes Starts */
.spacings {
  width: 100%;
  padding-left: calc(1.5rem* .5);
  padding-right: calc(1.5rem* .5);
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.small {
  font-size: 0.875em;
}

/* Media Queries */
/* Responsive Navbar */
@media (max-width: 1199px) {

  .no-scroll {
    overflow: hidden !important;
    height: 100vh;
  }

  .main .header .menu ul {
    display: none;
  }

  .main .header .menu.mobile-nav-active ul {
    display: block;
    list-style: none;
    position: absolute;
    inset: 90px 20px 20px 20px;
    padding: 10px 0;
    margin: 0%;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid color-mix(in srgb, #fff, transparent 90%);
    box-shadow: none;
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .mobile-nav-toggle {
    color: #fff;
    font-size: 28px;
    line-height: 0%;
    margin-right: 10px;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .main .header .menu.mobile-nav-active {
    position: fixed;
    overflow: hidden;
    inset: 0;
    background: rgba(33, 37, 41, 0.8) !important;
    transition: 0.3s;
  }

  .main .header .menu.mobile-nav-active ul li a {
    color: #666666 !important;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
  }
}

@media (min-width: 576px) {

  .spacings {
    max-width: 540px;
  }

  .about .inner-about {
    max-width: 90%;
    flex-direction: column;
  }

  .about .info_img {
    order: 1;
    width: 100% !important;
  }

  .about .info {
    width: 100% !important;
    order: 2;
    margin-top: 1.5rem;
  }
}

@media (min-width: 768px) {

  .contact .contact-info .row .columns2 .row .columns:nth-child(1) {
    flex: 0 0 auto;
    width: 50%;
  }
  
  .contact .contact-info .row .columns2 .row .columns:nth-child(2) {
    flex: 0 0 auto;
    width: 50%;
  }

  .spacings {
    max-width: 720px;
  }

  .about .inner-about {
    max-width: 720px;
  }

  .stats .stats-row .stats-column{
    width: 50%;
    flex: 0 0 auto;
  }
}

@media (min-width: 992px) {

  .spacings {
    max-width: 960px;
  }

  .about .inner-about {
    max-width: 960px;
    flex-direction: row;
  }

  .about .info_img img {
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
  }

  .about .info_img {
    order: 2 !important;
    width: 50% !important;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
  }

  .about .info {
    width: 50% !important;
    order: 1 !important;
    margin-top: 1.5rem;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.1s;
    padding-left: calc(1.5rem * 0.5);
    padding-right: calc(1.5rem * 0.5);
  }

  .main .text{
    width: 66.66666667% !important;
  }

  .stats .stats-row .stats-column{
    width: 25%;
    flex: 0 0 auto;
  }

  .pricings .all-pricings .pricing-cols{
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  
}

@media (min-width: 1200px) {

  .call-to-action .call-content .call-text {
    text-align: left;
    width: 75%;
    flex: 0 0 auto;
  }
  
  .call-to-action .call-content .call-btn {
    width: 25%;
    text-align: center;
    flex: 0 0 auto;
  }

  .mobile-nav-toggle {
    display: none !important;
  }

  .main .header .menu>ul>li a::before {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #2dc997;
    transition: all 0.3s ease-in-out 0s;
  }

  .main .header .menu>ul>li:hover>a::before {
    width: 100%;
  }

  .main .header .menu>ul>li.active>a::before {
    width: 100%;
  }

  .main .header .menu>ul>li:hover>a::before,
  .main .header .menu>ul>li.active>a::before {
    width: 100%;
  }

  .spacings,
  .inner-header {
    max-width: 1140px;
  }

  .about .inner-about {
    max-width: 1140px;
  }

  .about .info_img {
    order: 2 !important;
    width: 100% !important;
  }

  .about .info {
    width: 100% !important;
    order: 1 !important;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1400px) {

  .spacings,
  .inner-header {
    max-width: 1320px;
  }

  .about .inner-about {
    max-width: 1320px;
  }

  .about .info_img {
    order: 2 !important;
    width: 100% !important;
  }

  .about .info {
    width: 100% !important;
    order: 1 !important;
    margin-top: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .call-to-action .call-content{
    flex-direction: column;
    gap: 1.5rem;
  }

  
}

@media (max-width: 992px) {
  .portfolio .port-main .port-album {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .services .service-containers{
    grid-template-columns: repeat(2, 50%);
  }

  .pricings .pricing-item{
    width: 100%;
  }

  .contact .contact-info .row .columns1,.contact .contact-info .row .columns2{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .portfolio .port-main .port-album {
    grid-template-columns: repeat(1, 1fr);
  }

  .main .text h1{
    font-size: 32px;
  }

  .main .text p{
    font-size: 18px;
  }

  .services .service-containers{
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 576px){
  .about .info ul li{
    flex-direction: column;
    text-align: center;
  }

  .about .info{
    margin-top: 1.5rem;
  }
}